#slides{
  position: relative;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  opacity: 0;
  z-index: 1;

  -webkit-transition: opacity 1.5s;
  -moz-transition: opacity 1.5s;
  -o-transition: opacity 1.5s;
  transition: opacity 1.5s;
}

.slide img {
  width: 100%;
  height: auto;
}

.showing{
  opacity: 1;
  z-index: 2;
}
